@import './variables';

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: $f-family;
  font-weight: normal;
  color: white;
  font-size: $f-size-s;
  
  @include for-tablet-landscape-up {
    font-size: $f-size;
  }
}

.boxed {
  max-width: $mobile;
  margin: 0 auto;
  padding: $gutter * 2;
  @include for-tablet-portrait-up {
    max-width: $desktop;
    width: 70%;
   }
}
